[submodule "foundry-app/lib/openzeppelin-contracts"]
	path = foundry-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-app/lib/chainlink"]
	path = foundry-app/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "foundry-app/lib/chainlink-brownie-contracts"]
	path = foundry-app/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
